---
name: Auto-Bump Component's Versions
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:
jobs:
  bump:
    name: CNAO Component Bump Job
    if: (github.repository == 'kubevirt/cluster-network-addons-operator')
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        branch:
          - main
          - release-0.79
          - release-0.89
          - release-0.91
          - release-0.93
          - release-0.95
          - release-0.97
          - release-0.99
          - release-0.100
          - release-0.101
    steps:
      - name: Login to Quay
        run: docker login -u="kubevirt+network" -p="${{ secrets.QUAY_ROBOT_TOKEN }}" quay.io
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          ref: ${{ matrix.branch }}
      - name: Pull latest of latest branch
        run: git pull --ff-only --rebase origin ${{ matrix.branch }}
      - name: Run bumper script
        run: make ARGS="-config-path=components.yaml -token=${{ secrets.KUBEVIRT_BOT_TOKEN }} -base-branch=${{ matrix.branch }}" auto-bumper
